<div class="header">
    <h3>Train Infromation</h3>
    <div>
        <strong>From</strong>: {{fromLocation}}
    </div>
    <div>
        <strong>To</strong>: {{toLocation}}
    </div>
    <table [border]="borderValue">
        <tr>
            <td>id</td>
            <td>Name</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Srinu</td>
        </tr>
        <tr>
            <td>2</td>
            <td>sandeep</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Purna</td>
            
        </tr>

    </table>
    
</div>
